//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 1200px) { 
	.card__body {
		flex: 0 1 32%; }
	.clients__slider-item {
		margin-right: 20px; }
}


@media (max-width: 1150px) { 
	.slider__item {
		padding: 80px 0; }
}

@media (max-width: 1024px) { 
	.menu a {
		padding: 0 0 8px 20px;
	}
	.slider__item {
		padding: 45px 0 60px 0; }
	.about {
		padding: 35px 0 60px 0; }
	.info__card-block-desc {
		padding: 30px 20px; }
	.info__card-block-img {
		padding: 20px 20px 8px 0px; }
}

@media (max-width: 960px) { 
.card__body {
	flex: 0 1 48%; }
}

@media (max-width: 940px) { 
	.header__menu {
		margin-top: 5px;
	}
}

@media (max-width: 860px) { 
 .footer__logo {
	 margin-right: 30px; }
 }

 @media (max-width: 860px) { 
 	.slider__item {
		padding: 30px 0 60px 0; }
	.slider .slick-dots {
		bottom: 5%;
		right: 15%; }
 } 

@media (max-width: 768px) { 
	.page {
		padding-top: 50px; }
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		background: #fff;
	}
	.header__row {
    align-items: center;
	}
	.logo-icon {
    max-width: 135px;
    height: 48px;
	}
	.logo-icon:before {
    background-size: 85%;
 }
	.icon-menu {
		display: block;
	}
	.menu__body {
		display: none;
	}
	.header__callback {
    margin-right: 20px;
	}
	.header__nav-block {
    flex-direction: row;
    align-items: center;
		min-height: 25px;
    height: 25px;
	}
	.header__popup-link {
    display: none;
	}
	.header__email {
    margin-right: 20px;
	}
	.footer__menu {
		margin-right: 8px; }
	.footer__contact .header__popup-link {
    display: flex; }
	.footer__contact {
		flex: 0 0 198px; }
	.footer__menu li {
		margin-bottom: 8px; }
	.slider__item {
		padding: 30px 0 85px 0; }
	.breadcrumb {
		margin-bottom: 20px; }
	.info__card-block {
		flex-wrap: wrap-reverse;}
	.info__card-block-desc {
		flex: 0 1 100%;
		padding: 10px 20px 20px 20px;}
	.info__card-block-img {
		flex: 0 1 100%;
		padding: 15px;}
	.info__card-block-desc .header__popup-link {
		display: inline-flex; }
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 630px) {
	.card__body {
		flex: 0 1 49.3%; }
}

@media (max-width: 612px) {
	.header__nav-block {
    width: 100%; }
	.header__contact {
		width: 100%;
		justify-content: flex-end;}
	.header__email {
		display: none; }
	.header__phone::before { 
		width: 16px;
		height: 16px;
		margin-top: 2px;
		margin-right: 10.6px;
		background-size: 100%;}
	.footer__contact .header__email {
		font-size: inherit; }
	.footer__contact .header__email::before {
		width: 17px;
		height: 13px;
		margin-top: 4px;
		margin-right: 10px; }
	.footer__contact .header__email {
			display: block; }
	.footer__logo {
		margin-right: 5px; }
	.services__row {
		justify-content: center; }
	.card__body {
		flex: 0 1 90%; }
	.services__title-btn {
		flex-wrap: wrap; }
	.services__title-btn h2 {
		margin-bottom: 10px; }
}

@media (max-width: 515px) {
	.header__callback {
    display: none; }
	.footer {
		padding: 15px 0; }
	.footer__row {
		flex-wrap: wrap; }
	.footer__logo {
		margin-right: 0;
		margin-bottom: 15px; }
	.footer__menu {
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%; }
	.footer__contact {
		align-items: flex-start;
		margin-left: 0; }
	.about p {
		text-align: justify; }
	.card__body {
		flex: 0 1 100%;
		padding: 10px;
		margin-bottom: 15px; }
	.category {
		padding: 25px 0; }
	.category h1 {
		font-size: 35px;
		line-height: 1.2; }
	.info__desc p {
		text-align: justify; }
	.also {
		padding-bottom: 30px; }
	.info__card-block-desc p {
		text-align: justify; }
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.mob-search {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
	.logo-icon {
    max-width: 120px;
    height: 40px;
	}
	.mob-menu { 
		margin-top: 50px; }
	.category {
		padding: 15px 0; }
}

@media (max-width: 460px) {
	.header__email {
    display: none; }
	.footer__contact .header__email {
		display: block; }
}

@media (max-width: 414px) {
	.slider__text {
		padding: 15px; }
	.services__btn-block {
		width: 100%;
		flex-direction: column; }
	.info__charact-row {
		font-size: 14px;}
	.info__card-block-desc .header__popup-link {
		width: 100%;}
}

@media (max-width: 360px) {
	.header__phone {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 20px; 
		margin-bottom: 5px; }
	.footer__contact .header__phone {
		display: block; }
	.breadcrumb ul li a {
			font-size: 12px; }
	.breadcrumb ul li {
		font-size: 12px; }
}
