//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face { 
	font-family: "Bahnschrift";
	src: url("../fonts/Lato-Light.eot");
	src: local("☺"), url("../fonts/Bahnschrift-Light.woff") format("woff"), url("../fonts/Bahnschrift-Light.ttf") format("truetype"),
	url("../fonts/Bahnschrift-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;   
}

@font-face {
	font-family: "Bahnschrift";
	src: url("../fonts/Bahnschrift-Regular.eot");
	src: local("☺"), url("../fonts/Bahnschrift-Regular.woff") format("woff"), url("../fonts/Bahnschrift-Regular.ttf") format("truetype"),
	url("../fonts/Bahnschrift-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Bahnschrift";
	src: url("../fonts/Bahnschrift-Medium.eot");
	src: local("☺"), url("../fonts/Bahnschrift-Medium.woff") format("woff"), url("../fonts/Bahnschrift-Medium.ttf") format("truetype"),
	url("../fonts/Bahnschrift-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Bahnschrift";
	src: url("../fonts/Bahnschrift-Semibold.eot");
	src: local("☺"), url("../fonts/Bahnschrift-Semibold.woff") format("woff"),
	url("../fonts/Bahnschrift-Semibold.ttf") format("truetype"), url("../fonts/Bahnschrift-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Bahnschrift";
	src: url("fonts/Bahnschrift-Bold.eot");
	src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Bahnschrift-Bold.ttf") format("truetype"),
	url("../fonts/Bahnschrift-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Bahnschrift";
	src: url("../fonts/Bahnschrift-Heavy.eot");
	src: local("☺"), url("../fonts/Bahnschrift-Heavy.woff") format("woff"), url("../fonts/Bahnschrift-Heavy.ttf") format("truetype"),
	url("../fonts/Bahnschrift-Heavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Bahnschrift";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1240;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #5E5E5E;
	font-size: 20px;
	font-weight: 300;
	a {
		color: #5E5E5E;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	// font-size: 44px;
	font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
	line-height: 52.8 / 40 *100%;
	font-weight: 600;
	// line-height: 52.8px;
	// font-size: 10px;

	// @include adaptiv-font(40, 24);
	color: #fff;}

	// SCSS Миксин:
	// $maxWidth: 1280;
	// @mixin adaptiv-font($pcSize, $mobSize) {
	//  $addSize: $pcSize - $mobSize;
	//  $maxWidth: $maxWidth - 320;
	//  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
	// }

h2 {
	font-size: 31px;
	font-weight: 600;
	line-height: 36px;
	color: #000;}
// h3 {
// 	font-size: 28px;
// 	font-weight: 500;
// 	line-height: 38px;
// 	color: #000;}
// h4 {
// 	font-size: 25px;
// 	font-weight: 500;
// 	line-height: 38px;
// 	color: #000;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// min-height: 200vh;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto;  
	background: #F4F4F4;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "home.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "collection.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "category.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================
.slider {
	position: relative;
}

.slider__item {
	padding: 89px 0 143px 0;
	background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
	background-image: url('../img/header-bg.jpg');
}

/* Точки (булиты) */
.slider .slick-dots {
	max-width: 110px;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 8%;
	right: 19%;
	padding: 0 12px 0 12px;
	background: #fff;
	border-radius: 5px;
}
.slider .slick-dots li {
	font-size: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #6BC72B;
}

/* Активная точка */
.slider .slick-dots li.slick-active {
	background: #6BC72B;
}

/* Элемент точки */
.slider .slick-dots li button {
	font-size: 0;
}

.slider__text {
	max-width: 548px;
	width: 100%;
	padding: 29px 16px 29px 29px;
	border-radius: 5px 5px 5px 0;
	background: #6BC72B;
	position: relative;
	opacity: 0.7;
}

.slider__text h1 {
	margin-bottom: 29px;
}




.slider__text p {
	font-size: 22px;
	font-weight: 300;
	line-height: 26.4px;
	color: #fff;
}

.slider__text-color {
	position: absolute;
	bottom: -10px;
	left: 0;
	max-width: 400px;
	width: 100%;
	height: 10px;
	background: #FFE417;
	border-radius: 0px 0px 5px 5px;
}
// ==============================================================================================================================================================

.about {
	padding: 77px 0 60px 0;
}

.about h2 {
	margin-bottom: 23px;
}

.about p {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}
//====================================================================================================================================================

.services {
	padding-bottom: 33px;
}

.services__title-btn {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 28px;
}

.services__btn-block {
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}
.services__btn {
	font-weight: 600;
	color: #5E5E5E;
	padding: 12px 16px;
	cursor: pointer;
	background: #F4F4F4;
	border-top: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
}
.services__btn.active {
	color: #fff;
	background: #6BC72B;
	border: none;
}
.services__row {
	justify-content: space-between;
	flex-wrap: wrap;
}

.card__body {
	flex: 0 1 29%;
	padding: 10px 50px 10px 10px;
	background:#fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.card__img {
	flex: 0 0 110px;
	max-height: 110px;
	overflow: hidden;
	border-radius: 10px;
	margin-right: 20px;
}

.card__img img {
	max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card__desc h4 {
	font-size: 16px;
	font-weight: 300;
	line-height: 19.2px;
	margin-bottom: 8px;
}

.card__link {
	font-size: 12px;
	font-weight: 600;
	color: #6BC72B;
	text-decoration: underline;
}
//====================================================================================================================================================

.clients {
	padding-bottom: 55px;
}

.clients h2 {
	margin-bottom: 24px;
}

.clients__slider-item {
	flex: 0 1 300px;
	max-height: 100px;
	overflow: hidden;
	margin-right: 55px;
}

.clients__slider-item img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.clients__slider .slick-slider .slick-track {

}

/* Стрелка */
.clients__slider .slick-arrow { 
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -58px;
	right: 0;
	width: 34px;
	height: 34px;
	font-size: 0;
	border: 1px solid #6BC72B;
	border-radius: 50%;
	background: transparent;
}

/* Стрелка влево */
.clients__slider .slick-arrow.slick-prev {
	&::before {
		content: '';
		float: left;
		width: 8px;
		height: 12px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiPg0KICA8aW1hZ2UgaWQ9ImNoZXZyb24tcmlnaHRf0LrQvtC/0LjRjyIgZGF0YS1uYW1lPSJjaGV2cm9uLXJpZ2h0INC60L7Qv9C40Y8iIHdpZHRoPSI4IiBoZWlnaHQ9IjEyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUFnQUFBQU1DQVlBQUFCZm52eWRBQUFBQkhOQ1NWUUlDQWdJZkFoa2lBQUFBRkZKUkVGVUdGZGpaSUNBRGdZR0JuNEdCb1lzQmdhRy8xQXhNTVhJd01CZ3djREFjQndxT0FOZEVVZ0JDR1F5TURCTXc2WUlwZ0NuSW1RRldCV2hLOEJRUkxJQ0RNY1M3VWk4M2lRcW9IQUdOUUFtSkIwOXo3MEpXQUFBQUFCSlJVNUVya0pnZ2c9PSIvPg0KPC9zdmc+DQo=');
	}
}

/* Стрелка вправо */
.clients__slider .slick-arrow.slick-next {
	right: 55px;
	&::before {
		content: '';
		float: left;
		width: 8px;
		height: 12px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiPg0KICA8aW1hZ2UgaWQ9ImNoZXZyb24tcmlnaHQiIHdpZHRoPSI4IiBoZWlnaHQ9IjEyIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUFnQUFBQU1DQVlBQUFCZm52eWRBQUFBQkhOQ1NWUUlDQWdJZkFoa2lBQUFBRTVKUkVGVUdGZGpaTUFPT2hnWUdQZ1pHQml5R0xISWd5VExvZUwyNkFxUUpiTVlHQmltSXl2QWtBU1pBbE9BVlJLbUFLY2swUXBBQ3ZGYUFmTXBYa2ZpVkVRb29DeXhLWUM1Q1VSWEFBQ2lUUlNFSXRmbmNnQUFBQUJKUlU1RXJrSmdnZz09Ii8+DQo8L3N2Zz4NCg==');
	}
}


//====================================================================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media.scss";